.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #207a81; 
  padding: 10px 20px;
  color: white;
  position: sticky;
  top: 0;
}

.logo {
  font-size: 24px;
  font-weight: bold;
}

.nav-links {
  display: flex;
  gap: 20px;
}

.nav-links a {
  color: white;
  text-decoration: none;
  font-weight: 500;
}

.nav-links a:hover {
  color: #93c5fd; 
}

.hamburger {
  display: none;
  font-size: 24px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: #010511;
    position: absolute;
    top: 60px;
    right: 0;
    width: 150px;
    padding: 10px;
  }

  .nav-links.active {
    display: flex;
  }

  .hamburger {
    display: block;
  }
}
